//
// Colors
//

$black: #0b0a0a;
$white: #ffffff;
$red: #ff594f;
$yellow: #ffbc1b;
$green: #00cd46;
$super_light_grey: #f6f6f6;
$light_grey: #c5c3c3;
$borders_grey: #e0e0e0;
$grey: #6e6e6e;
$dark_grey: #464646;
$dark_blue: #101022;
$dark_blue_transparent: rgba(16, 16, 34, 0.8);
$stars: #21233d;
$violet: #292a48;
$violet_transparent: rgba(41, 42, 72, 0.4);

//
// Text
//

$Roboto: 'Roboto', sans-serif;
$ProximaNova: 'ProximaNova', 'Roboto', 'Arial', sans-serif;
$font-regular: 400;
