//
// Colors
//

$black: #0b0a0a;
$white: #ffffff;
$red: #ff594f;
$yellow: #ffbc1b;
$green: #00cd46;
$superLightGrey: #f6f6f6;
$lightGrey: #c5c3c3;
$bordersGrey: #e0e0e0;
$grey: #6e6e6e;
$darkGrey: #464646;
$darkBlue: #101022;
$darkBlueTransparent: rgba(16, 16, 34, 0.8);
$stars: #21233d;
$violet: #292a48;
$violetTransparent: rgba(41, 42, 72, 0.4);
$violetLight: #383a62;

//
// Text
//

$Roboto: 'Roboto', sans-serif;
$ProximaNova: 'ProximaNova', 'Roboto', 'Arial', sans-serif;
$fontRegular: 400;
