//
// Colors
//

$black: #0b0a0a;
$white: #ffffff;
$red: #ff594f;
$yellow: #ffbc1b;
$green: #00cd46;
$light_grey: #f6f6f6;
$grey: #6e6e6e;
$dark_blue: #101022;
$dark_blue_transparent: rgba(16, 16, 34, 0.8);
$stars: #21233d;

//
// Text
//

$Roboto: 'Roboto', sans-serif;
$font-regular: 400;
